<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Barruko Studios</title>
    <!--Font awesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--Scroll reveal CDN-->
	<script src="https://unpkg.com/scrollreveal"></script>
	
	<link rel="icon" href="https://cdn2.iconfinder.com/data/icons/furniture-solid-icons-vol-1/48/002-512.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


    <!--bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- font link-->
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Berkshire+Swash&family=Crimson+Text:ital,wght@0,400;0,600;1,600&family=Fondamento&family=Fredericka+the+Great&family=Galada&family=Merienda+One&family=Modak&family=PT+Serif+Caption:ital@0;1&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Grenze+Gotisch&family=Kurale&family=Rye&display=swap" rel="stylesheet">
    
    <!-- CSS -->
	
    <link rel="stylesheet" href="styles/MPAboutUsStyles.css"/>
    <link rel="stylesheet" href="styles/scrollbar.css"/>
	<link rel="stylesheet" href="styles/navbar_footer.css"/>
</head>
<body>
	<div style="background: #f0ece3;">
		<!--Nav bar-->
	 	 <nav class="navbar">
    <div class="d-flex justify-content-between ml-2" style="width:100%;overflow-x:scroll;overflow-y:hidden;">
        <div class="d-flex mr-4">
          <a class="navbar-brand" href="#"><img src="storeImages/logo1.png" id="brand_logo"/></a>
          <div class="d-flex flex-column ml-1" style="position:relative;top:10px">
              <h2 id="brand_name" >Barruko Studios</h2>
              <span id="brand_text">Interior Design</span>
          </div><!--flex-column-->
        </div><!--d-flex-->
   
    
        <div class="d-flex float-right ml-3 mt-2 mr-5" style="position:relative;right:5%">
          <img id="clock_png" src='storeImages/wall-clock.png'/>
          <div class="d-flex flex-column ml-1 mr-3">
            <h5 class="info_text">OFFICE HOURS</h5>
            <small class="text-muted text-center time_stamp" style="position:relative;bottom:10px;">9:00 am to 7:00 pm</small>
          </div><!--flex-column-->
          <img id="message_png" class="ml-3" src='storeImages/mail.png'/>
          <div class="d-flex flex-column ml-2">
            <h5 class="info_text">EMAIL</h5>
            <small class="text-muted text-center email_stamp" style="position:relative;bottom:10px">interior@des.com</small>
          </div><!--flex-column-->
        </div><!--d-flex-->
    </div>

  </nav>



     <nav id="navbar_2" class="navbar navbar-expand-md sticky-top navbar_2_small p-3" style="background:#222830">
      
     
            <ul class="navbar-nav navbar-expand">
              <li class="nav-item"><a href="home" class="nav-link"><i class="fa fa-home"></i></a></li>
              <li class="nav-item "><a href="our-work" class="nav-link ml-2">OUR-WORK</a></li>
              <li class="nav-item "><a href="about-us" class="nav-link active ml-2">ABOUT</a></li>
              <li class="nav-item "><a href="store" class="nav-link ml-2">STORE</a></li>
              <li class="nav-item"><a href="form" class="nav-link ml-2">CONTACT</a></li>
            </ul>

            <button class="navbar-toggler" type="button" id="topnavbartogglerbutton_2">
              <i class="fa fa-angle-down" id="navbar_icon"></i>
            </button>
      
      <div class="collapse align-items-end navbar-collapse ml-5 mt-1"  id="collapsibleNavbar_2" >
          <div class="d-flex float-right" >
             <div class="input-group" id="try_2">
                <input type="search" spellcheck="false" class="form-control" placeholder="Search..." id="SearchTextBox"/>
               <a href="store"> <button type="button" id="searchSubmit" class="btn btn-success" class="input-group-text"><i class="fa fa-search" style="font-size:15px"></i></button></a>
             </div><!--input-group-->   
          </div>  <!--d-flex-->
      </div><!--collapse navbarcollapse-->    
    </nav>
	</div>
    <!--Header ends-->



    <!-- SCRIPT FOR TOGGLER BUTTON -->
    <script>
      $(function(){
        $(".navbar-toggler").click(function(){
          $(this).css({'border':'none','outline':'none'})
          $(this).find("i").toggleClass('fa-angle-up fa-angle-down')
        });
        $(".navbar-toggler").focus(function(){
          $(this).css({'border':'none','outline':'none'})
        });
      });
    </script>



<!-- Script for toggler button -->
<script>
  $(function(){

    $("#topnavbartogglerbutton_2").click(function(){
      $("#collapsibleNavbar_2").slideToggle(300)
    });

  });
</script>

<!-- Script for Scrolling Screen -->
<script>

    $(function(){
      $(window).scroll(function(){
        $("#navbar_2").css('opacity','0.95')
      });
    });

</script>



    <section class="hero" id="hero">
        <div class="container" >
        	<h2 class="sub-headline">
        		<span class="first-letter">A</span>bout Us
        	</h2>
        	<h1 class="headline">BARRUKO STUDIOS</h1>
        </div>
    </section>	
    <!--Hero ends-->
    <section class="discover-who-we-are">
    	<div class="container">
    		<div class="studio-info">
    			<div class="studio-description padding-right animate-left">
    				<div class="global-headline">
    					<h2 class="sub-headline">
        		            <span class="first-letter">D</span>iscover
        	            </h2>
        	            <h1 class="headline headline-dark">Who We Are</h1>
    				</div>
    				<p>
    					Barruko Studios is a team of leading Project Management, Construction and Interior Fit-out specialist. Our team of project professionals, designers and fit-out experts have extensive and in-depth knowledge of how good design and fit-out can be delivered, which has resulted in significant improvements of our clients business performance and profitability, and helped retain our domestic client relationships by fulfilling all expectations.
    				</p>
    			</div>
    			<div class="studio-info-img animate-right">
    				<img src="storeImages/IDWhoweare.jpg" alt="">
    			</div>
    		</div>
    	</div>
    </section>
    <!--Discover who we are ends-->
    <section class="quotation1 between">
    	<div class="container">
    		<div class="global-headline">
    			<div class="animate-bottom">
    				<h1 class="headline headline-dark">We listen to your needs and thoughtfully interpret your requirements.</h1>
    			</div>
    		</div>
    	</div>
    </section>	
    <!--Quotation1 ends-->
    <section class="discover-what-we-do">
    	<div class="container">
    		<div class="studio-info">
    			<div class="image-group padding-right animate-left">
    				<img src="storeImages/IDGroup11.jpg">
    				<img src="storeImages/IDGroup12.jpg">
    				<img src="storeImages/IDGroup13.jpg">
    				<img src="storeImages/IDGroup14.jpg">
    			</div>
    			<div class="studio-description animate-right">
    				<div class="global-headline">
    					<h2 class="sub-headline">
        		            <span class="first-letter">D</span>iscover
        	            </h2>
        	            <h1 class="headline headline-dark">What We Do</h1>
    				</div>
    				<p>We deliver designs that inspire, connect and perform. Whether we are creating memorable experiences for sports fans; providing a world away to resort guests; or enabling teens living with cancer to support one another — we believe design can change people’s lives for the better.</p>
    			</div>
    		</div>	
    	</div>
    </section>
    <!--Discover what we do ends-->
    <section class="quotation2 between">
    	<div class="container">
    		<div class="global-headline">
    			<div class="animate-bottom">
    				<h1 class="headline headline-dark">We help you realize your design vision, from concept through to completion.</h1>
    			</div>
    		</div>
    	</div>
    </section>	
    <!--Quotation2 ends-->
    <section class="discover-our-services">
    	<div class="container">
    		<div class="studio-info">
    			<div class="studio-description padding-right animate-left">
    				<div class="global-headline">
    					<h2 class="sub-headline">
        		            <span class="first-letter">D</span>iscover
        	            </h2>
        	            <h1 class="headline headline-dark">Our Services</h1>
    				</div>
    				<p>
    					In-home walk-through of your space, and deep discussion about needs, wish list, and style preferences. After the design consultation, we will put together a detailed proposal to outline the scope of work and give you an estimate on the overall design services cost. The proposal estimates time appropriated to all aspects of the project broken down to a line item within the scope. After signing some paperwork (Design Services Agreement), we will be on our way to help you plan and design your project. 
    				</p>
    			</div>
    			<div class="image-group animate-right">
    				<img src="storeImages/IDGroup21.jpg" alt="">
    				<img src="storeImages/IDGroup22.jpg" alt="">
    			</div>
    		</div>
    	</div>
    </section>
    <!--Discover our services ends-->
    <footer>

		<div class="d-flex flex-column pt-4 pl-5 pr-3 mt-5 " style="background:#222830">
	
		  <div id="scrl-up">
			<button><i class="fa fa-arrow-up" id="try"></i>
			</button>
		  </div>
	
		  <div class="row" style="position:relative;top:-70px">
			<div class="col-md">
			  <div class="d-flex flex-column pl-3" id="f-barruko-box" >
				<h2 class="text-warning" style="font-size:25px;">BARRUKO STUDIOS</h2>
				<p style="color:#bcbcb3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<div class="d-flex">
	
				  <a href="#" class="connectLink" onmouseover='this.style.color="#c4002d"' onmouseout='this.style.color="#FF1E56"'><i class="fab fa-google connectIcon ml-2"></i></a>
	
				  <a href="#" class="connectLink"><i class="fab fa-facebook connectIcon ml-3"  onmouseover='this.style.color="#2364dd"' onmouseout='this.style.color="#335EB2"'></i></a>
	
				  <a href="#" class="connectLink"><i class="fab fa-instagram connectIcon ml-3" onmouseover='this.style.color="#ff880a"' onmouseout='this.style.color="#F6BD5B"'></i></a>
	
				  <a href="#" class="connectLink" onmouseover='this.style.color="#43c9f2"' onmouseout='this.style.color="#19B2E4"'><i class="fab fa-twitter connectIcon ml-3"></i></a>
	
				  <a href="#" class="connectLink" onmouseover='this.style.color="#ef2342"' onmouseout='this.style.color="#E00022"'><i class="fab fa-pinterest connectIcon ml-3"></i></a>
	
				  <a href="#" class="connectLink" onmouseover='this.style.color="#1092d3"' onmouseout='this.style.color="#0070AC"'><i class="fab fa-linkedin-in connectIcon ml-3"></i></a>
				
			  </div><!--d-flex-->
			  </div><!--flex-column-->
			</div><!--col-->
			<div class="col-md pt-4">
			  <h1 class="text-white">LATEST NEWS</h1>
			  <p><a href="#" class="f-link" >Future home will be designed around tech</a></p>
			  <div class="f-hr-line"></div>
			  <p ><a href="#" class="f-link">Home interior design ideas: 5 accessories</a></p>
			  <div class="f-hr-line"></div>
			  <p><a href="#" class="f-link">Reinventing Design education for 2020</a></p>
			  <div class="f-hr-line"></div>
			  <p><a href="#" class="f-link">Glass and Green House</a></p>
			  <div class="f-hr-line"></div>
			</div><!--col-->
			<div class="col-md pt-4">
			  <h1 class="text-white">GALLERY</h1>
			  <div class="d-flex flex-column pt-2 gallery">
				<div class="d-flex">
				  <img src="storeImages/design2.jpg" class="f-image"/>
				  <img src="storeImages/design1.jpg" class="pl-2 f-image"/>
				</div><!--d-felx-->
				<div class="d-flex pt-2">
				  <img src="storeImages/design8.jpg" class="f-image"/>
				  <img src="storeImages/design3.jpg" class="pl-2 f-image"/>
				</div><!--dflex-->
	
			  </div><!--flex column-->
			</div><!--col-->
			<div class="col-md pt-4">
			  <div class="d-flex flex-column">
				<h1 class="text-white">CONTACT US</h1>
				<span class="f-contact-head">Address:</span>
				<span style='color:#bcbcb3;font-size:15px'>42/38-A, Abc Street, India, 732810</span><br>
				<span class="f-contact-head">Call Us:</span>
				<span><a href="tel:1234567890" class="f-link" >(123) 456-78-90</a></span><br>
				<span class="f-contact-head">Mail Us:</span>
				<span><a href="mailto:interior@des.com" class="f-link">interior@des.com</a></span><br>
			  </div><!--flex-column-->
			</div><!--col-->
		  </div><!--row-->
		  <p class="text-center f-copy-text" style="position:relative;bottom:30px">&copy; 2020 <span style="font-family:fantasy;letter-spacing:1.2px ">Barruko Studios</span>. All Rights Reserved </p>
		</div><!--d-flex-->
	  </footer>
	
	
	  <script>
		$(function(){
		  $(".f-link").hover(function(){
			$(this).parent().next().animate({width:"90%"},'slow');
			$(this).parent().next().css("border","1px solid #a59a52");
		  },function(){
			 $(this).parent().next().animate({width:"5%"},'slow');
			  $(this).parent().next().css("border","1px solid #bcbcb3");
		  });
		});
	  </script>
	
	
	  <!-- To Scroll Up -->
	
	  <script>
		$(function(){
		  $("#scrl-up > button").click(function(){
			var height = $(window).height()
			$("html,body").animate({scrollTop:-height},1000);
		  });
		});
	  </script>
    <!--Footer Ends-->
<script src="js/MPAboutUsMain.js"></script>
</body>
</html>